:root {
  --theme-color-name: #5f22cb;
  --c-primary: rgb(var(--rgb-primary));
  --c-primary-active: #4200b2;
  --c-primary-light: #5f22cb80;
  --c-primary-fade: #591cc61a;
  --rgb-primary: 95, 34, 203;
  --c-dark-primary: rgb(var(--rgb-dark-primary));
  --c-dark-primary-active: #a886e5;
  --c-dark-primary-light: #c19eff80;
  --c-dark-primary-fade: #bc99fa1a;
  --rgb-dark-primary: 193, 158, 255;
}
